<!DOCTYPE html>
<html>
<head>
<title>Assignment 2</title>
<style>
tr {
line-height: 2.1;
}
</style>
</head>
<body>
<center>
<h3> RESUME</h3>
<table>
<tr><td>Name</td> <td><b>D J Derpin Lijo</b></td></tr>
<tr><td>Date of Birth</td> <td><b>23/07/2001</b></td></tr>
<tr><td>Email</td> <td><b>lijofedrick07@gamil.com</b></td></tr>
<tr><td>College Name &emsp;&emsp;&emsp;</td>
<td><b>St.Xavier's Catholic College of Engineering</b></td></tr>
<tr><td>Qualification</td> <td><b>BE</b></td></tr>
<tr><td>CGPA in %</td> <td><b>8</b></td></tr>
<tr><td>Year</td> <td><b>01/11/2022</b></td></tr>
<tr><td>Language</td> <td><b>Java</b></td></tr>
<tr><td>Resume</td> <td><b>resume.pdf</b></td></tr>
</center>
</body>
</html>